<?xml version="1.0"?>
<launch>
    <group ns="drone2">
        <arg name="mav_id" default="2"/>
        <arg name="mav_name" default="px4vision"/>
        <arg name="sim_enabled" default="true"/>
        <arg name="ctrl_enabled" default="false"/>
        <arg name="rate_ctrl_enabled" default="false"/>
        <arg name="traj_tracking_enabled" default="false"/>
        <arg name="finite_diff_enabled" default="true"/>
        <arg name="mission_enabled" default="false"/>
        <arg name="drag_comp_enabled" default="false"/>
        <arg name="ekf_enabled" default="false"/>
        <arg name="lpf_enabled" default="true"/>
        <arg name="use_onboard_att_meas" default="false"/>
        <arg name="use_real_pend_angle" default="true"/>
        <arg name="integrator_enabled" default="false"/>
        <arg name="mav_num" value="1"/>
        <arg name="pos_x_0" default="0.0"/>
        <arg name="pos_y_0" default="0.0"/>
        <arg name="pos_z_0" default="1.35"/>
        <arg name="tracking_exit_min_error" default="0.5"/>
        <arg name="rotor_drag_d_x" default="0.00"/>
        <arg name="rotor_drag_d_y" default="0.00"/>
        <arg name="rotor_drag_d_z" default="0.00"/>
        <arg name="mav_mass" default="1.55"/>
        <arg name="load_mass" default="0.263"/>
        <arg name="ref_rate_limit" default="2.0"/>
        <arg name="err_pose_limit_horizontal" default="5.0"/>
        <arg name="err_pose_limit_vertical" default="5.0"/>

        <arg name="mav_pose_cutoff_freq" default="8.0"/>
        <arg name="mav_pose_q" default="0.625"/>
        <arg name="mav_pose_verbose" default="false"/>

        <arg name="mav_vel_cutoff_freq" default="8.0"/>
        <arg name="mav_vel_q" default="0.625"/>
        <arg name="mav_vel_verbose" default="false"/>

        <arg name="load_pose_cutoff_freq" default="8.0"/>
        <arg name="load_pose_q" default="0.625"/>
        <arg name="load_pose_verbose" default="false"/>
        
        <arg name="load_vel_cutoff_freq" default="8.0"/>
        <arg name="load_vel_q" default="0.625"/>
        <arg name="load_vel_verbose" default="false"/>

        <arg name="load_acc_cutoff_freq" default="8.0"/>
        <arg name="load_acc_q" default="0.625"/>
        <arg name="load_acc_verbose" default="false"/>

        <arg name="pend_angle_cutoff_freq" default="8.0"/>
        <arg name="pend_angle_q" default="0.625"/>
        <arg name="pend_angle_verbose" default="false"/>

        <arg name="pend_rate_cutoff_freq" default="8.0"/>
        <arg name="pend_rate_q" default="0.625"/>
        <arg name="pend_rate_verbose" default="false"/>

        <arg name="pend_angular_acc_cutoff_freq" default="8.0"/>
        <arg name="pend_angular_acc_q" default="0.625"/>
        <arg name="pend_angular_acc_verbose" default="false"/>

        <node pkg="mrotor_controller" type="node" name="mrotor_controller" output="screen">
            <param name="mav_num" type="int" value="$(arg mav_num)" />
            <param name="mav_id" type="int" value="$(arg mav_id)" />
            <param name="mav_name" type="string" value="$(arg mav_name)" />
            <param name="sim_enabled" value="$(arg sim_enabled)" />
            <param name="ctrl_enabled" value="$(arg ctrl_enabled)" />
            <param name="rate_ctrl_enabled" value="$(arg rate_ctrl_enabled)" />
            <param name="traj_tracking_enabled" value="$(arg traj_tracking_enabled)" />
            <param name="finite_diff_enabled" value="$(arg finite_diff_enabled)" />
            <param name="mission_enabled" value="$(arg mission_enabled)" />
            <param name="drag_comp_enabled" value="$(arg drag_comp_enabled)" />
            <param name="ekf_enabled" value="$(arg ekf_enabled)" />
            <param name="lpf_enabled" value="$(arg lpf_enabled)" />
            <param name="use_onboard_att_meas" value="$(arg use_onboard_att_meas)" />
            <param name="use_real_pend_angle" value="$(arg use_real_pend_angle)" />
            <param name="integrator_enabled" value="$(arg integrator_enabled)" />
            <param name="max_acc" value="20.0" />
            <param name="mav_mass" value="$(arg mav_mass)" />
            <param name="cable_length" value="0.85"/>
            <param name="load_mass" value="$(arg load_mass)"/> 
            <param name="attctrl_tau" value="0.1" />
            <param name="normalized_thrust_constant" value="0.0435"/>
            <param name="normalized_thrust_offset" value="0.0"/>
            <param name="Kint_x" value="2.0" />
            <param name="Kint_y" value="2.0" />
            <param name="Kint_z" value="2.2361" />

            <!-- <param name="Kp_x" value="24.0" />
            <param name="Kp_y" value="24.0" />
            <param name="Kp_z" value="2.0" />
            <param name="Kv_x" value="50.0"/>
            <param name="Kv_y" value="50.0"/>
            <param name="Kv_z" value="3.0"/>
            <param name="Ka_x" value="35.0" />
            <param name="Ka_y" value="35.0" />
            <param name="Ka_z" value="0.0" />
            <param name="Kj_x" value="10.0"/>
            <param name="Kj_y" value="10.0"/>
            <param name="Kj_z" value="0.0"/> -->

            <!-- <param name="Kp_x" value="22.0" />
            <param name="Kp_y" value="22.0" />
            <param name="Kp_z" value="2.0" />
            <param name="Kv_x" value="40.0"/>
            <param name="Kv_y" value="40.0"/>
            <param name="Kv_z" value="3.0"/>
            <param name="Ka_x" value="23.0" />
            <param name="Ka_y" value="23.0" />
            <param name="Ka_z" value="0.0" />
            <param name="Kj_x" value="7.0"/>
            <param name="Kj_y" value="7.0"/>
            <param name="Kj_z" value="0.0"/> -->

            <param name="Kp_x" value="26.0" />
            <param name="Kp_y" value="26.0" />
            <param name="Kp_z" value="10.0" />
            <param name="Kv_x" value="30.0"/>
            <param name="Kv_y" value="30.0"/>
            <param name="Kv_z" value="10.9545"/> 
            <param name="Ka_x" value="20.0" />
            <param name="Ka_y" value="20.0" />
            <param name="Ka_z" value="0.0" />
            <param name="Kj_x" value="7.0"/>
            <param name="Kj_y" value="7.0"/>
            <param name="Kj_z" value="0.0"/>

            <param name="c_x" value="0.0"/>
            <param name="c_y" value="0.0"/>
            <param name="c_z" value="0.5"/>
            <param name="r_x" value="1.0"/>
            <param name="r_y" value="1.0"/>
            <param name="r_z" value="0.0"/>
            <param name="fr_x" value="1.0"/>
            <param name="fr_y" value="1.0"/>
            <param name="fr_z" value="0.0"/>
            <param name="ph_x" value="1.57"/>
            <param name="ph_y" value="0.0"/>
            <param name="ph_z" value="0.0"/>

            <param name="c_x_0" value="0.0"/>
            <param name="c_y_0" value="0.0"/>
            <param name="c_z_0" value="0.5"/>
            <param name="c_x_1" value="0.0"/>
            <param name="c_y_1" value="0.0"/>
            <param name="c_z_1" value="0.5"/>
            <param name="c_x_2" value="1.0"/>
            <param name="c_y_2" value="0.0"/>
            <param name="c_z_2" value="0.5"/>
            <param name="c_x_3" value="0.0"/>
            <param name="c_y_3" value="1.0"/>
            <param name="c_z_3" value="0.5"/>
            <param name="pos_x_0" value="$(arg pos_x_0)"/>
            <param name="pos_y_0" value="$(arg pos_y_0)"/>
            <param name="pos_z_0" value="$(arg pos_z_0)"/>
            <param name="rotor_drag_d_x" value="$(arg rotor_drag_d_x)"/>
            <param name="rotor_drag_d_y" value="$(arg rotor_drag_d_y)"/>
            <param name="rotor_drag_d_z" value="$(arg rotor_drag_d_z)"/>
            <param name="ref_rate_limit" value="$(arg ref_rate_limit)"/>
            <param name="err_pose_limit_horizontal" value="$(arg err_pose_limit_horizontal)"/>
            <param name="err_pose_limit_vertical" value="$(arg err_pose_limit_vertical)"/>
            <param name="tracking_exit_min_error" value="$(arg tracking_exit_min_error)"/>
            <param name="load_pose_cutoff_freq" value="$(arg load_pose_cutoff_freq)"/>
            <param name="load_pose_q" value="$(arg load_pose_q)"/>
            <param name="load_pose_verbose" value="$(arg load_pose_verbose)"/>
            <param name="load_vel_cutoff_freq" value="$(arg load_vel_cutoff_freq)"/>
            <param name="load_vel_q" value="$(arg load_vel_q)"/>
            <param name="load_vel_verbose" value="$(arg load_vel_verbose)"/>
            <param name="load_acc_cutoff_freq" value="$(arg load_acc_cutoff_freq)"/>
            <param name="load_acc_q" value="$(arg load_acc_q)"/>
            <param name="load_acc_verbose" value="$(arg load_acc_verbose)"/>
            <param name="pend_angle_cutoff_freq" value="$(arg pend_angle_cutoff_freq)"/>
            <param name="pend_angle_q" value="$(arg pend_angle_q)"/>
            <param name="pend_angle_verbose" value="$(arg pend_angle_verbose)"/>            
            <param name="pend_rate_cutoff_freq" value="$(arg pend_rate_cutoff_freq)"/>
            <param name="pend_rate_q" value="$(arg pend_rate_q)"/>
            <param name="pend_rate_verbose" value="$(arg pend_rate_verbose)"/>
            <param name="pend_angular_acc_cutoff_freq" value="$(arg pend_angular_acc_cutoff_freq)"/>
            <param name="pend_angular_acc_q" value="$(arg pend_angular_acc_q)"/>
            <param name="pend_angular_acc_verbose" value="$(arg pend_angular_acc_verbose)"/>

        </node>
    </group>

</launch>